
.Detail {
    background-color: #ffffff; 
    color: #1877f2; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
  }
  
  .Detail img {
    max-width: 100%;
    height: auto;
    height: 320;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .Detail h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .Detail p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .Detail p:nth-child(odd) {
    background-color: #1877f2; 
    color: #ffffff; 
    padding: 10px;
    border-radius: 8px;
  }
  
  